In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings as wr
wr.filterwarnings("ignore")

In [7]:
data = pd.read_csv("climate_change_indicators.csv")
pd.set_option("display.max_columns" , None)

In [8]:
data.head()

,ObjectId,Country,ISO2,ISO3,Indicator,Unit,Source,CTS_Code,CTS_Name,CTS_Full_Descriptor,F1961,F1962,F1963,F1964,F1965,F1966,F1967,F1968,F1969,F1970,F1971,F1972,F1973,F1974,F1975,F1976,F1977,F1978,F1979,F1980,F1981,F1982,F1983,F1984,F1985,F1986,F1987,F1988,F1989,F1990,F1991,F1992,F1993,F1994,F1995,F1996,F1997,F1998,F1999,F2000,F2001,F2002,F2003,F2004,F2005,F2006,F2007,F2008,F2009,F2010,F2011,F2012,F2013,F2014,F2015,F2016,F2017,F2018,F2019,F2020,F2021,F2022
0,1,"Afghanistan, Islamic Rep. of",AF,AFG,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",-0.113,-0.164,0.847,-0.764,-0.244,0.226,-0.371,-0.423,-0.539,0.813,0.619,-1.124,0.232,-0.489,-0.445,-0.286,0.513,0.129,0.361,0.600,0.483,-0.346,0.164,0.145,0.283,-0.141,0.391,0.919,-0.205,0.730,-0.168,-0.294,0.220,0.430,0.359,-0.116,0.471,0.675,1.198,0.993,1.311,1.365,0.587,1.373,0.401,1.720,0.675,0.704,0.895,1.613,1.397,0.223,1.281,0.456,1.093,1.555,1.540,1.544,0.910,0.498,1.327,2.012
1,2,Albania,AL,ALB,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",0.627,0.326,0.075,-0.166,-0.388,0.559,-0.074,0.081,-0.013,-0.106,-0.195,-0.069,-0.288,-0.139,-0.211,-0.683,0.545,-0.814,0.203,-0.414,-0.351,0.173,-0.128,-0.270,-0.103,0.569,-0.106,0.370,-0.066,0.795,-0.269,0.106,0.076,1.330,-0.172,-0.038,0.075,0.795,0.670,1.065,1.532,0.492,0.970,0.444,0.189,0.345,1.316,0.978,0.910,1.191,1.055,1.487,1.333,1.198,1.569,1.464,1.121,2.028,1.675,1.498,1.536,1.518
2,3,Algeria,DZ,DZA,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",0.164,0.114,0.077,0.250,-0.100,0.433,-0.026,-0.067,0.291,0.116,-0.385,-0.348,-0.015,-0.503,-0.539,-0.782,0.504,0.012,0.654,0.232,0.215,0.399,0.560,-0.004,0.508,0.296,0.975,1.304,0.386,1.266,0.031,-0.312,0.552,0.732,0.595,0.846,1.059,1.109,1.476,0.820,1.856,1.258,1.585,0.988,1.264,1.395,1.220,1.185,0.945,2.265,1.398,1.147,1.192,1.690,1.121,1.757,1.512,1.210,1.115,1.926,2.330,1.688
3,4,American Samoa,AS,ASM,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",0.079,-0.042,0.169,-0.140,-0.562,0.181,-0.368,-0.187,0.132,-0.047,-0.477,-0.067,0.330,-0.308,-0.118,-0.177,0.156,0.092,0.341,0.350,0.179,0.280,0.313,0.277,0.256,0.394,0.354,0.509,0.143,0.497,0.641,0.344,-0.069,0.189,0.755,0.784,NaN,NaN,0.242,0.626,0.904,1.152,0.716,0.191,0.801,0.403,1.032,0.670,NaN,1.311,0.854,0.924,1.257,1.170,1.009,1.539,1.435,1.189,1.539,1.430,1.268,1.256
4,5,"Andorra, Principality of",AD,AND,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",0.736,0.112,-0.752,0.308,-0.490,0.415,0.637,0.018,-0.137,0.121,-0.326,-0.499,0.025,-0.371,0.246,-0.045,-0.093,-0.163,0.058,-0.188,0.178,1.044,0.859,-0.157,0.059,0.387,0.397,0.883,1.162,1.736,0.231,0.386,0.174,1.508,1.279,0.570,1.788,1.018,1.055,1.050,1.480,0.835,1.949,0.936,0.851,1.485,1.024,0.946,1.413,0.471,1.677,1.265,0.831,1.946,1.690,1.990,1.925,1.919,1.964,2.562,1.533,3.243

In [11]:
catogorical = data.select_dtypes(exclude=np.number)

for column in catogorical:
    print("======"*9)
    print(data[column].value_counts)

======================================================
<bound method IndexOpsMixin.value_counts of 0      Afghanistan, Islamic Rep. of
1                           Albania
2                           Algeria
3                    American Samoa
4          Andorra, Principality of
                   ...
220                  Western Sahara
221                           World
222                  Yemen, Rep. of
223                          Zambia
224                        Zimbabwe
Name: Country, Length: 225, dtype: object>
======================================================
<bound method IndexOpsMixin.value_counts of 0       AF
1       AL
2       DZ
3       AS
4       AD
      ...
220     EH
221    NaN
222     YE
223     ZM
224     ZW
Name: ISO2, Length: 225, dtype: object>
======================================================
<bound method IndexOpsMixin.value_counts of 0      AFG
1      ALB
2      DZA
3      ASM
4      AND
      ...
220    ESH
221    WLD
222    YEM
223    ZMB
224    ZWE
Name: ISO3, Length: 225, dtype: object>
======================================================
<bound method IndexOpsMixin.value_counts of 0      Temperature change with respect to a baseline ...
1      Temperature change with respect to a baseline ...
2      Temperature change with respect to a baseline ...
3      Temperature change with respect to a baseline ...
4      Temperature change with respect to a baseline ...
                             ...
220    Temperature change with respect to a baseline ...
221    Temperature change with respect to a baseline ...
222    Temperature change with respect to a baseline ...
223    Temperature change with respect to a baseline ...
224    Temperature change with respect to a baseline ...
Name: Indicator, Length: 225, dtype: object>
======================================================
<bound method IndexOpsMixin.value_counts of 0      Degree Celsius
1      Degree Celsius
2      Degree Celsius
3      Degree Celsius
4      Degree Celsius
            ...
220    Degree Celsius
221    Degree Celsius
222    Degree Celsius
223    Degree Celsius
224    Degree Celsius
Name: Unit, Length: 225, dtype: object>
======================================================
<bound method IndexOpsMixin.value_counts of 0      Food and Agriculture Organization of the Unite...
1      Food and Agriculture Organization of the Unite...
2      Food and Agriculture Organization of the Unite...
3      Food and Agriculture Organization of the Unite...
4      Food and Agriculture Organization of the Unite...
                             ...
220    Food and Agriculture Organization of the Unite...
221    Food and Agriculture Organization of the Unite...
222    Food and Agriculture Organization of the Unite...
223    Food and Agriculture Organization of the Unite...
224    Food and Agriculture Organization of the Unite...
Name: Source, Length: 225, dtype: object>
======================================================
<bound method IndexOpsMixin.value_counts of 0      ECCS
1      ECCS
2      ECCS
3      ECCS
4      ECCS
       ...
220    ECCS
221    ECCS
222    ECCS
223    ECCS
224    ECCS
Name: CTS_Code, Length: 225, dtype: object>
======================================================
<bound method IndexOpsMixin.value_counts of 0      Surface Temperature Change
1      Surface Temperature Change
2      Surface Temperature Change
3      Surface Temperature Change
4      Surface Temperature Change
                  ...
220    Surface Temperature Change
221    Surface Temperature Change
222    Surface Temperature Change
223    Surface Temperature Change
224    Surface Temperature Change
Name: CTS_Name, Length: 225, dtype: object>
======================================================
<bound method IndexOpsMixin.value_counts of 0      Environment, Climate Change, Climate Indicator...
1      Environment, Climate Change, Climate Indicator...
2      Environment, Climate Change, Climate Indicator...
3      Environment, Climate Change, Climate Indicator...
4      Environment, Climate Change, Climate Indicator...
                             ...
220    Environment, Climate Change, Climate Indicator...
221    Environment, Climate Change, Climate Indicator...
222    Environment, Climate Change, Climate Indicator...
223    Environment, Climate Change, Climate Indicator...
224    Environment, Climate Change, Climate Indicator...
Name: CTS_Full_Descriptor, Length: 225, dtype: object>